In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Dataframe COURS

In [12]:
columns_ = ['etablissement','id_groupe', 'division_groupe', 'discipline_poste', 'n_heures_class', 'id_matiere', 'grade_prof', 
            'discipline_recrutement', 'commune_domicile_prof', 'X_prof', 'Y_prof', 'id_prof', 'secteur']
df = pd.read_csv('cours.csv', names=columns_, header=None, skiprows=1)

In [13]:
df['id_prof'] = df['id_prof'].astype(str)
df['commune_domicile_prof'] = df['commune_domicile_prof'].astype(str)
df['id_matiere'] = df['id_matiere'].astype(str)
df['grade_prof'] = df['grade_prof'].astype(str)

In [16]:
df.id_prof.nunique()

21546

## Dataframe ESTABLISHMENT POSITIONS

In [5]:
df_schools = pd.read_csv('schools.csv', delimiter=';')
df_schools.columns

Index(['Code établissement', 'Appellation officielle',
       'Dénomination principale', 'Patronyme uai', 'Secteur Public/Privé',
       'Adresse', 'Lieu dit', 'Boite postale', 'Code postal',
       'Localite d'acheminement', 'Commune', 'Coordonnee X', 'Coordonnee Y',
       'EPSG', 'Latitude', 'Longitude', 'Qualité d'appariement',
       'Localisation', 'Code nature', 'Nature', 'Code état établissement',
       'Etat établissement', 'Code département', 'Code région',
       'Code académie', 'Code commune', 'Département', 'Région', 'Académie',
       'Position'],
      dtype='object')

In [6]:
df_schools = df_schools[['Code établissement','Coordonnee X','Coordonnee Y','Position']]
df_schools.columns = ['etablissement', 'X_school', 'Y_school','Position']
df_schools.drop_duplicates()
df_schools.head()

  etablissement  X_school   Y_school                        Position
0      0470032E  491239.9  6353793.1   44.2520429195, 0.385169774826
1      0470093W  474015.3  6382417.4   44.5041978894, 0.156696460324
2      0470721D  513657.2  6345825.4     44.1866794142, 0.6687307112
3      0471015Y  509905.3  6347640.0   44.2019980569, 0.621136396919
4      0400034V  433805.3  6331492.2  44.0320328913, -0.321725459625

In [7]:
new = df_schools['Position'].str.split(",", n = 1, expand = True)
df_schools['latitude_school']= new[0]
df_schools['longitude_school']= new[1] 
df_schools.drop(columns =['Position'], inplace = True) 
df_schools.head()

  etablissement  X_school   Y_school latitude_school  longitude_school
0      0470032E  491239.9  6353793.1   44.2520429195    0.385169774826
1      0470093W  474015.3  6382417.4   44.5041978894    0.156696460324
2      0470721D  513657.2  6345825.4   44.1866794142      0.6687307112
3      0471015Y  509905.3  6347640.0   44.2019980569    0.621136396919
4      0400034V  433805.3  6331492.2   44.0320328913   -0.321725459625

## JOIN THE DATAFRAMES

In [8]:
df_merge = pd.merge(df, df_schools)
df_merge.head()

,etablissement,id_groupe,division_groupe,discipline_poste,n_heures_class,id_matiere,grade_prof,discipline_recrutement,commune_domicile_prof,X_prof,Y_prof,id_prof,secteur,X_school,Y_school,latitude_school,longitude_school
0,0240001W,3A,D,L1800,1.0,90100,5512.0,1800A,24181.0,497445.0970,6408755.428,538.0,PU,523298.6,6409730.3,44.7642210214,0.766679163802
1,0240001W,3A,D,L1700,1.0,81300,5531.0,1700E,24037.0,500260.2204,6420140.757,1654.0,PU,523298.6,6409730.3,44.7642210214,0.766679163802
2,0240001W,3A,D,L0422,3.0,30201,7811.0,0422E,nan,NaN,NaN,5311.0,PU,523298.6,6409730.3,44.7642210214,0.766679163802
3,0240001W,3A,D,L0426,2.5,30602,5531.0,0426E,24140.0,506813.3173,6418707.236,8628.0,PU,523298.6,6409730.3,44.7642210214,0.766679163802
4,0240001W,3A,D,L1300,3.0,61300,5531.0,1300E,24566.0,517179.9671,6416863.586,10176.0,PU,523298.6,6409730.3,44.7642210214,0.766679163802

In [9]:
len(df_merge)

202954

In [19]:
df = pd.read_csv('df_nonan.csv')

Number of professors by field by establishment

In [20]:
df_1 = df.groupby(['etablissement','id_prof']).id_matiere.nunique()

Number of establishments by teacher

In [21]:
df_2 = df.groupby(['id_prof']).etablissement.nunique()
print(df_2[df_2.values > 1].tail())
print('---------------')
print('Percentage of profs in more than one establishment:',len(df_2[df_2.values > 1])/len(df_2))
print('---------------')
print('Percentage of profs in one establishment:',len(df_2[df_2.values == 1])/len(df_2))
print('---------------')
print('Number of profs moving:',len(df_2[df_2.values > 1]))
print('Number of profs NOT moving:',len(df_2[df_2.values == 1]))

id_prof
23851.0    2
23853.0    3
23854.0    2
23856.0    2
23860.0    2
Name: etablissement, dtype: int64
---------------
Percentage of profs in more than one establishment: 0.1151545614475999
---------------
Percentage of profs in one establishment: 0.8848454385524
---------------
Number of profs moving: 2291
Number of profs NOT moving: 17604

Proportion of teachers moving in different numbers of establishments

In [58]:
df_3 = df_2[df_2.values > 1]

dtype('int64')

Number of courses by teacher

In [77]:
oihew = pd.read_csv('schools.csv', delimiter=';')
oihew.head()

,Code établissement,Appellation officielle,Dénomination principale,Patronyme uai,Secteur Public/Privé,Adresse,Lieu dit,Boite postale,Code postal,Localite d'acheminement,...,Code état établissement,Etat établissement,Code département,Code région,Code académie,Code commune,Département,Région,Académie,Position
0,0470032E,Collège J.Ph. Delmas de Grammont,COLLEGE,J.PH. DELMAS DE GRAMMONT,Public,AVENUE DU 11 NOVEMBRE 1918,NaN,NaN,47130,PORT STE MARIE,...,1,OUVERT,47,75,4,47210,Lot-et-Garonne,Nouvelle-Aquitaine,Bordeaux,"44.2520429195, 0.385169774826"
1,0470093W,Section d'enseignement professionnel du Lycée ...,SECTION ENSEIGNT PROFESSIONNEL,LPO VAL DE GARONNE,Public,22 RUE E LOS CABALLEROS,NaN,307.0,47207,MARMANDE CEDEX,...,1,OUVERT,47,75,4,47157,Lot-et-Garonne,Nouvelle-Aquitaine,Bordeaux,"44.5041978894, 0.156696460324"
2,0470721D,Section d'enseignement général et professionne...,SEGPA,CLG LA ROCAL,Public,NaN,NaN,13.0,47240,BON ENCONTRE,...,1,OUVERT,47,75,4,47032,Lot-et-Garonne,Nouvelle-Aquitaine,Bordeaux,"44.1866794142, 0.6687307112"
3,0471015Y,Section d'enseignement général et professionne...,SEGPA PRIVEE,CLG PR FELIX AUNAC,Privé,34 cours Victor Hugo,NaN,NaN,47000,AGEN,...,1,OUVERT,47,75,4,47001,Lot-et-Garonne,Nouvelle-Aquitaine,Bordeaux,"44.2019980569, 0.621136396919"
4,0400034V,Collège George Sand,COLLEGE,GEORGE SAND,Public,55 PLACE CHAMBRELENT,NaN,NaN,40120,ROQUEFORT,...,1,OUVERT,40,75,4,40245,Landes,Nouvelle-Aquitaine,Bordeaux,"44.0320328913, -0.321725459625"